<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
        <v-app id="inspire">
            <v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" fixed app >
                <v-list dense>
                    <template v-for="item in items" >
                        <v-layout v-if="item.heading" :key="item.heading" row align-center >
                            <v-flex xs6>
                                <v-subheader v-if="item.heading">
                                    {{ item.heading }}
                                </v-subheader>
                            </v-flex>
                            <v-flex xs6 class="text-xs-center">
                                <a href="#!" class="body-2 black--text">EDIT</a>
                            </v-flex>
                        </v-layout>
                        <v-list-group  v-else-if="item.children" v-model="item.model" :key="item.text" :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon="" >   
                            <v-list-tile slot="activator" >
                                <v-list-tile-content>
                                <v-list-tile-title>
                                    {{ item.text }}
                                </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile v-for="(child, i) in item.children" :key="i" @click="" router :to="child.action">
                                <v-list-tile-action v-if="child.icon">
                                    <v-icon>{{ child.icon }}</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        {{ child.text }}
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list-group>
                        <v-list-tile v-else :key="item.text" @click="" router :to="item.action">
                            <v-list-tile-action>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{ item.text }}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>
                </v-list>
            </v-navigation-drawer>
            <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="blue darken-3" dark app fixed >
                <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
                    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                    <span class="hidden-sm-and-down">Estoque Bacana</span>
                </v-toolbar-title>
                <v-text-field flat solo-inverted hide-details prepend-inner-icon="search" label="Localizar" class="hidden-sm-and-down" ></v-text-field>
                <v-spacer></v-spacer>
                <v-btn icon>
                    <v-icon>person</v-icon>
                </v-btn>
                <!--<v-btn icon large>
                    <v-avatar size="32px" tile>
                        <img
                        src="https://cdn.vuetifyjs.com/images/logos/logo.svg"
                        alt="Vuetify"
                        >
                    </v-avatar>
                </v-btn>-->
            </v-toolbar>
            <v-content>
                <v-container fluid fill-height>   
                    <v-layout justify-center align-center>
                        <router-view></router-view> 
                        <!--<v-tooltip right>
                        <v-btn
                            slot="activator"
                            :href="source"
                            icon
                            large
                            target="_blank"
                        >
                            <v-icon large>code</v-icon>
                        </v-btn>
                        <span>Source</span>
                        </v-tooltip>
                        <v-tooltip right>
                        <v-btn slot="activator" icon large href="https://codepen.io/johnjleider/pen/EQOYVV" target="_blank">
                            <v-icon large>mdi-codepen</v-icon>
                        </v-btn>
                        <span>Codepen</span>
                        </v-tooltip>-->
                    </v-layout>
                </v-container>
            </v-content>
            <!--<v-btn
                fab
                bottom
                right
                color="pink"
                dark
                fixed
                @click.stop="dialog = !dialog"
            >
                <v-icon>add</v-icon>
            </v-btn>-->
            <v-dialog v-model="dialog" width="800px">
                <v-card>
                <v-card-title
                    class="grey lighten-4 py-4 title"
                >
                    Create contact
                </v-card-title>
                <v-container grid-list-sm class="pa-4">
                    <v-layout row wrap>
                    <v-flex xs12 align-center justify-space-between>
                        <v-layout align-center>
                        <v-avatar size="40px" class="mr-3">
                            <img
                            src="grey_silhouette.png"
                            alt=""
                            >
                        </v-avatar>
                        <v-text-field
                            placeholder="Name"
                        ></v-text-field>
                        </v-layout>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field
                        prepend-icon="business"
                        placeholder="Company"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field
                        placeholder="Job title"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                        prepend-icon="mail"
                        placeholder="Email"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                        type="tel"
                        prepend-icon="phone"
                        placeholder="(000) 000 - 0000"
                        mask="phone"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                        prepend-icon="notes"
                        placeholder="Notes"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                </v-container>
                <v-card-actions>
                    <v-btn flat color="primary">More</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="dialog = false">Cancel</v-btn>
                    <v-btn flat @click="dialog = false">Save</v-btn>
                </v-card-actions>
                </v-card>
            </v-dialog>
        </v-app>
    </div>

    <template id="usuarios">
        <v-card>
            <v-toolbar flat color="white">
                <v-toolbar-title>Usuários</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-text-field v-model="search" append-icon="search" label="Localizar" single-line hide-details></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="500px">
                    <v-btn slot="activator" color="primary" dark class="mb-2">Novo Usuário</v-btn>
                    <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
            
                    <v-card-text>
                        <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.name" label="Dessert name"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.calories" label="Calories"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.fat" label="Fat (g)"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.carbs" label="Carbs (g)"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.protein" label="Protein (g)"></v-text-field>
                            </v-flex>
                        </v-layout>
                        </v-container>
                    </v-card-text>
            
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
                    </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>

            <v-data-table :headers="headers" :items="desserts" hide-actions class="elevation-1" :search="search" >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.nome }}</td>
                    <td class="text-xs-right">{{ props.item.login }}</td>
                    <td class="text-xs-right">{{ props.item.senha }}</td>
                    <td class="text-xs-right">{{ props.item.tipo }}</td>
                    <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)" >edit</v-icon>
                        <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                    </td>
                </template>
                <template slot="no-data">
                    Nenhum dado disponível
                </template>
            </v-data-table>
        </v-card>
    </template>

    <template id="categorias-produtos">
        <div>Categorias de Produtos</div>
    </template>

    <template id="produtos">
        <div>Produtos</div>
    </template>

    <template id="estoque">
        <div>Estoque</div>
    </template>

    <template id="balanco-geral-estoque">
        <div>Balanço Geral do Estoque</div>
    </template>

    <template id="balanco-individual-por-produto">
        <div>Balanço Individual por Produto</div>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script>
        
        var Usuarios = Vue.component('usuarios', {
            template: '#usuarios',
            data () {
                return {
                    dialog: false,
                    headers: [
                        { text: 'Nome', align: 'left', sortable: true, value: 'nome' },
                        { text: 'Login', value: 'login' },
                        { text: 'Senha', value: 'senha' },
                        { text: 'Tipo', value: 'tipo' },
                        { text: 'Opções', value: 'id', sortable: false }
                    ],
                    desserts: [],
                    search: '',
                    editedIndex: -1,
                    editedItem: {
                        name: '',
                        calories: 0,
                        fat: 0,
                        carbs: 0,
                        protein: 0
                    },
                    defaultItem: {
                        name: '',
                        calories: 0,
                        fat: 0,
                        carbs: 0,
                        protein: 0
                    }
                }
            },
            methods : {
                getUsuarios() {
                    this.$http.get('http://agnc.kinghost.net/api-controle-estoque/public/api/usuarios')
                        .then(
                            function (response) {
                                this.desserts = response.body;
                            }, 
                            function (error) {
                                console.log(error);
                            }
                        )
                        .finally(function () {
                        }
                    );
                },
                editItem (item) {
                    this.editedIndex = this.desserts.indexOf(item)
                    this.editedItem = Object.assign({}, item)
                    this.dialog = true
                },

                deleteItem (item) {
                    const index = this.desserts.indexOf(item)
                    confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
                },

                close () {
                    this.dialog = false
                    setTimeout(() => {
                        this.editedItem = Object.assign({}, this.defaultItem)
                        this.editedIndex = -1
                    }, 300)
                },

                save () {
                    if (this.editedIndex > -1) {
                        Object.assign(this.desserts[this.editedIndex], this.editedItem)
                    } else {
                        this.desserts.push(this.editedItem)
                    }
                    this.close()
                }
            },
            created() {
                this.getUsuarios();
            },
            computed: {
                formTitle () {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
                }
            },
            watch: {
                dialog (val) {
                val || this.close()
                }
            },
        })

        var CategoriasProdutos = Vue.component('categorias-produtos', {
            template: '#categorias-produtos'
        })

        var Produtos = Vue.component('produtos', {
            template: '#produtos'
        })

        var Estoque = Vue.component('estoque', {
            template: '#estoque'
        })

        var BalancoGeralEstoque = Vue.component('balanco-geral-estoque', {
            template: '#balanco-geral-estoque'
        })

        var BalancoIndividualPorProduto = Vue.component('balanco-individual-por-produto', {
            template: '#balanco-individual-por-produto'
        })

        var router = new VueRouter({
            routes: [
                { path: '/usuarios', component: Usuarios },
                { path: '/categorias-produtos', component: CategoriasProdutos },
                { path: '/produtos', component: Produtos },
                { path: '/estoque', component: Estoque },
                { path: '/balanco-geral-estoque', component: BalancoGeralEstoque },
                { path: '/balanco-individual-por-produto', component: BalancoIndividualPorProduto },
            ]
        });

        new Vue({ 
            el: '#app',
            router,
            data: {
                dialog: false,
                drawer: null,
                items: [
                    { icon: 'group', text: 'Usuários', action: '/usuarios' },
                    { icon: 'category', text: 'Categoria de Produtos', action: '/categorias-produtos' },
                    { icon: 'change_history', text: 'Produtos', action: '/produtos' },
                    { icon: 'assessment', text: 'Estoque', action: '/estoque' },
                    {
                        icon: 'keyboard_arrow_up',
                        'icon-alt': 'keyboard_arrow_down',
                        text: 'Relatórios',
                        model: false,
                        children: [
                            { text: 'Balanço Geral do Estoque', action: '/balanco-geral-estoque' },
                            { text: 'Balanço Individual por Produto', action: '/balanco-individual-por-produto' }
                        ]
                    }
                ]
            }
        })

    </script>
</body>
</html>